<!--Educacion start-->
<div class="box" id="educacion">
    <div class="btn-agregar"><a href="#" class="btn-agregar"><i class="fa fa-plus"></i></a></div>
    
    <div>
        <h3>
            Educacion
        </h3>
    </div>
    <div>
        <div class="btn-edit"><a href="#" class="btn-edit"><i class="fa fa-pencil"></i></a></div>
    <div class="btn-borrar"><a href="#" class="btn-borrar"><i class="fa fa-trash"></i></a></div>
        
            <ul class="listaiconos">
                <li>Desarrollo web Argentina Programa</li></ul>
                <ul class="listaiconos2">
                <li>Universidad del Salvador</li>
              </ul>
      
    </div>


</div>
<!--Educacion End-->   

