<!--Idioma start-->
<div class="box"id="idioma">
    <div class="btn-agregar"><a href="#" class="btn-agregar"><i class="fa fa-plus"></i></a></div>
       <div>
        <h2>
            Idiomas
        </h2>
    </div>
    <div>
        <div class="btn-edit"><a href="#" class="btn-edit"><i class="fa fa-pencil"></i></a></div>
    <div class="btn-borrar"><a href="#" class="btn-borrar"><i class="fa fa-trash"></i></a></div>
 
        
            <ul class="list">
                <li>Ingles. <br>Nivel avanzado. B2/C1<br><br>
                </li>
                <li>Portugues. <br>Basico<br><br>
                </li>
                <li>Frances. <br>Basico<br><br>
                </li>
                <li>Aleman. <br>Basico<br><br>
                </li>
              </ul>        
        
    </div>


</div>
<!--Idioma end-->
