<!--Proyectos start-->
<div class="box" id="proyectos">
    <div class="btn-agregar"><a href="#" class="btn-agregar"><i class="fa fa-plus"></i></a></div>
    
    <div>
        <h2>
        Proyectos        
        </h2>
    </div>
    <div>
        <div class="btn-edit"><a href="#" class="btn-edit"><i class="fa fa-pencil"></i></a></div>
    <div class="btn-borrar"><a href="#" class="btn-borrar"><i class="fa fa-trash"></i></a></div>
        <p>
        <!--Aca vinculo a proyectos-->
        </p>
    </div>

</div>
<!--Proyectos start-->

