<!--Experiencia Laboral start-->  
<div class="box" id="experiencia">
    <div class="btn-agregar"><a href="#" class="btn-agregar"><i class="fa fa-plus"></i></a></div>
    
    <div>
        <h2>
        Experiencia        
        </h2>
    </div>
    <div>
        <div class="btn-edit"><a href="#" class="btn-edit"><i class="fa fa-pencil"></i></a></div>
        <div class="btn-borrar"><a href="#" class="btn-borrar"><i class="fa fa-trash"></i></a></div>
        
            <ul class="list">
                <li>Desarrollo web<br>
                2020-2022<br><br></li>
                <li>Administrativa contable<br>
                2000- actualidad<br><br></li>
                <li>Secretaria Ejecutiva<br>
                1997-2000<br><br></li>
                </ul>
        
    </div>



</div>
<!--Experiencia Laboral start-->
