<!--Acerca de start-->   
<div class="box" id="Acerca_de">
    <div class="btn-agregar"><a href="#" class="btn-agregar"><i class="fa fa-plus"></i></a></div>
    
    <div>
        <h2>
            Acerca de mi
        </h2>
    </div>
    <div>
        <div class="btn-edit"><a href="#" class="btn-edit"><i class="fa fa-pencil"></i></a></div>
    <div class="btn-borrar"><a href="#" class="btn-borrar"><i class="fa fa-trash"></i></a></div>
        <p>
            Lic. en Turismo, ahora formandome en desarrollo web full stack a traves de Argentina Programa
        </p>
    </div>

</div>
<!--Acerca de ends--> 
