<!--Profile starts-->
  
      
<div class="box">
    <div class=>
        <img class="background"src="https://images.pexels.com/photos/3608311/pexels-photo-3608311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"alt="fondo">
    </div>
    <div>
        <img class="fotodeperfil" src="https://pbs.twimg.com/profile_images/1382785431436193796/RYIvzD5X_400x400.jpg" alt="fotoperfil">
    </div>
    <div class="btn-edit2"><a href="#" class="btn-edit2"><i class="fa fa-pencil"></i></a></div>

    <div class="tit">
        <h1>Ana Coronel</h1>
    </div>
    <div>
        <input type="file"id="file1" onchange="showFile(this)">
        <div class="btn-edit2"><a href="#" class="btn-edit2"><i class="fa fa-pencil"></i></a></div>

        <p class="info">Full web stack Argentina Programa<br>
        Ciudad de Buenos Aires<br>Argentina<br></p>
    </div>
    <div>
        <input id="edit" type="text" oninput="funcion2(this.value)"style="display:none"> 
    </div>
    <div class="mail">
            <a id="mail"href="mailto:anacoronel@hotmail.com">Mail contacto</a>
    </div>
    <div id= "interes">
        <button class="bt2" type= button> Me interesa</button>
        <button class="bt3" type= button> Agregar</button>
        <button class="bt3" type= button> Mas</button>
        
        </div>
</div>

<!--Profile end-->

